.NewPostInput-input,
.Like-button {
  background: #e76f51;
  font: Space Mono;
  font-size: 15px;
  border: none;
  border-radius: 2px;
  height: 25px;
}

.Input-preview {
  padding: 10px;
  position: relative;
  margin: 10px;
  font-size: 20px;
  line-height: 36px;
  width: 500px;
  height: 50px;
  display: inline-block;
  flex-wrap: nowrap;
  overflow-x: horizontal;
  overflow-y: hidden;
  justify-content: space-evenly;
  align-items: center;
  color: #000000;
  background: rgba(233, 196, 106, 0.75);
  border-radius: 25px;
}

.NewPostInput-input {
  flex-grow: 5;
  font: Space Mono;
  height: 40px;
  width: 400px;
  position: relative;
  background-color: #ffffff;
  border: var(--white) 1px solid;
  border-radius: 25px;
  transition: box-shadow 0.5s;
}

.NewPostInput-input:focus-within {
  border-color: var(--primary--dim);
  box-shadow: 0 0 0 var(--xs) rgba(0, 123, 255, 0.25);
}

.NewPostInput-button {
  background-color: #e76f51;
  left: 5px;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font: Space Mono;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.Genre-button {
  background-color: #e76f51;
  left: 5px;
  top: 5px;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  position: relative;
  font: Space Mono;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.button-1:hover,
.button-1:focus {
  background-color: #ffffff;
}

.NewPostInput-button:hover {
  color: var(--white);
  background-color: #2a9d8f;
}
